python-dotenv
werkzeug==2.1.2
Flask~=2.1.2
flask-restx==0.5.1
uWSGI
uwsgi-tools
click<8.1.0
Flask-Limiter
Flask-APScheduler==1.12.4
gradio_client
aiohttp
requests
sqlalchemy==2.0.7
beautifulsoup4
opencv-python